* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #666;
}

.ripple:nth-child(1) {
  background-color: #f6f6f6;
  color: #333;
  --wave-color: black;
  --wave-scale: 10;
}

.ripple:nth-child(1):hover {
  background-color: #eee;
}

.ripple:nth-child(2) {
  background-color: #1976d2;
}

.ripple:nth-child(2):hover {
  background-color: rgb(17, 82, 147);
}

.ripple:nth-child(3) {
  background-color: tomato;
}

.ripple:nth-child(3):hover {
  background-color: red;
}
